In [1]:
'''
Company Type: Individual/Company/Def_C_Type;
Income Type:Salaried/NonSalaried/Def_I_Type;
Area;
Company Name:C_Name
Individual Name:I_Name
Pension:True/False
Exemption:True/False
Exception:(NOT)cases
Total return/loss income:TRI
Profession:'legal','engineering','medical','accountancy','technical consultancy','interior decoration','Legal','transportation','architectural'
Government Sector:True/False
Pension_Type:(!depending upon what kind of pension is)
Trust:TRUST-True/False
Corporate:True/False
Company :'CHEMICALS & PHERMACEUTICALS','CONTRACT BUSINESS','TEXTILE & FABRICS'
Ward no.
'''

"\nCompany Type: Individual/Company/Def_C_Type;\nIncome Type:Salaried/NonSalaried/Def_I_Type;\nArea;\nCompany Name:C_Name\nIndividual Name:I_Name\nPension:True/False\nExemption:True/False\nException:(NOT)cases\nTotal return/loss income:TRI\nProfession:'legal','engineering','medical','accountancy','technical consultancy','interior decoration','Legal','transportation','architectural'\nGovernment Sector:True/False\nPension_Type:(!depending upon what kind of pension is)\nTrust:TRUST-True/False\nCorporate:True/False\nCompany :'CHEMICALS & PHERMACEUTICALS','CONTRACT BUSINESS','TEXTILE & FABRICS'\nWard no.\n"

In [2]:
import pandas as pd
import re

In [3]:
df=pd.read_excel('new2.xlsx')

In [4]:
def format_description(data_string):
    if isinstance(data_string, float):
        return []
    match = re.search(r'(\(.+?\))\[(.*)\]', data_string)
    if match:
        def_area = match.group(1)[1:-1]
        remaining_data = match.group(2)
    else:
        def_area = "NONE"
        remaining_data = data_string

    # Create a new dictionary with the extracted data
    new_dict = {"DEF_AREA": def_area, "REMAINING_DATA": remaining_data}
    return new_dict

In [20]:
df_new=df.copy()

In [23]:
df_new['ADDITIONAL DESCRIPTION']=df_new['ADDITIONAL DESCRIPTION'].apply(format_description)

In [724]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':5,
	'Company_Name':'RAIMAXAL PHARAMATEUTICALS PRIVATE LIMITED',
	'City':'SURAT',
	'Area':['Ratanji Nagar','Mithi Khadi','Bhavani Nagar','Limbayat'],
	'State':'Gujarat',
	'Name':'RAJA SHEKAR',
	'Sur_Name':'S',
	'Trust': False,
	'Pension':False,
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'r',
	'GOVT.': False
}

In [742]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':5,
	'Company_Name':'SEA RABBIT PRIVATE LIMITED',
	'City':'BANGALORE',
	'Area':['Vabasandra','Bommasandra'],
	'State':'KARNATAKA',
	'Name':'YASH SHENDGE',
	'Sur_Name':'S',
	'Trust': False,
	'Pension':False,
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'s',
	'GOVT.': False
}

In [ ]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':5,
	'Company_Name':'HAXSPLOIT SECURITY SERVICES PRIVATE LIMITED',
	'City':'INDORE',
	'Area':['Kakad','Khandwa'],
	'State':'MADHYA PRADESH',
	'Name':'YASH SHENDGE',
	'Sur_Name':'S',
	'Trust': False,
	'Pension':False,
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'h',
	'GOVT.': False
}

In [6]:
'''
HEIRACHY FOR NARROWING ROWS
-State,locality,area== City
-locality,area==additional description
-ward no (if given)== match in description 
-ward no (if given )== match in add_description
-company_type
-salary type 
-TRI
-C_Name
-S_Name

'''

'\nHEIRACHY FOR NARROWING ROWS\n-State,locality,area== City\n-locality,area==additional description\n-ward no (if given)== match in description \n-ward no (if given )== match in add_description\n-company_type\n-salary type \n-TRI\n-C_Name\n-S_Name\n\n'

In [7]:
'''
THINGS TO DEFINE RIGHT NOW
Cases for default :
C_type when There is both Company and Individual(salaried and non salaried) with other parameters common and when there is no info on them at all.
S_Type when Indivudal have both Salaried and NonSalaried
C_Name when nothing is define
Sur_Name when nothing is define
Area when an array has no area,it will look for Area outside the arrays,and there is no array still,it will look for the areas in the arrays which are stored allong with it.
Profession to be default if not mentioned
Income or loss is same and can be defined to any random value if the array doesn't contain it.
Find all the exemption values,
Find all the trust values,


'''

"\nTHINGS TO DEFINE RIGHT NOW\nCases for default :\nC_type when There is both Company and Individual(salaried and non salaried) with other parameters common and when there is no info on them at all.\nS_Type when Indivudal have both Salaried and NonSalaried\nC_Name when nothing is define\nSur_Name when nothing is define\nArea when an array has no area,it will look for Area outside the arrays,and there is no array still,it will look for the areas in the arrays which are stored allong with it.\nProfession to be default if not mentioned\nIncome or loss is same and can be defined to any random value if the array doesn't contain it.\nFind all the exemption values,\nFind all the trust values,\n\n\n"

In [442]:
def convert_array(data):
    if isinstance(data, float):
        return []

    if isinstance(data, str):
        data = data.replace(']  [', "][")
        data = data.replace('] [', "][")

        if "\n[" in data:
            array_strings = data.split("\n[")
        else:
            array_strings = data.split("][")

        # Adjust the first and last strings in the array to remove the leading "[" and trailing "]"
        array_strings[0] = array_strings[0][1:]
        array_strings[-1] = array_strings[-1][:-1]

        # Convert the array strings into actual arrays
        arrays = []
        for array_string in array_strings:
            array_string = array_string.replace(')  (', ")(")
            array_string = array_string.replace(') (', ")(")
            print(array_string)
            # Handle the case where "(NOT)" appears in the string
            # if "(NOT)" in array_string:
            #     array_string = array_string.replace("(NOT)", "(NOT)(")
            #     array = array_string.split(")(")
            #     array = [item.strip("()") for item in array if item.strip("()")]
            #     array[1] = array[1].replace("(", "(NOT) (")
            #     array[-1] = array[-1].replace(")", "")  # Remove the trailing ")"
            # else:
            #     array = array_string.split(")(")
            #     array = [item.strip("()") for item in array]

            # arrays.append(array)

        return arrays
    else:
        return data

In [91]:
def convert_array(data):
    if isinstance(data, float):
        return []

    if isinstance(data, str):
        data=data.replace(']  [',"][")
        data=data.replace('] [',"][")
        
        
        if "\n[" in data:
            array_strings = data.split("\n[")
        else:
            array_strings = data.split("][")
        
        # Adjust the first and last strings in the array to remove the leading "[" and trailing "]"
        array_strings[0] = array_strings[0][1:]
        array_strings[-1] = array_strings[-1][:-1]

        # Convert the array strings into actual arrays
        arrays = []
        for array_string in array_strings:
            array_string=array_string.replace(')  (',")(")
            array_string=array_string.replace(') (',")(")
            
            array = array_string.split(")(")
            array = [item.strip("()") for item in array]
            arrays.append(array)
        return arrays
    else:
        return data

In [30]:
df2=df1.copy()

NameError: name 'df1' is not defined

In [569]:
df2['ADDITIONAL DESCRIPTION'][8]['REMAINING_DATA']

[{'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['[']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['(']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['E']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['x']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['m']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['t']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['i']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['o']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['n']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [')']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['(']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['g']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['r']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [',']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['M']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['t']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['h']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['u']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['r']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [',']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['u']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['r']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['i']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [',']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['E']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['t']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['w']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['h']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [',']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['i']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['r']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['o']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['z']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['b']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['d']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [',']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['L']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['i']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['t']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['u']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['r']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [',']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [' ']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['J']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['h']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['n']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['i']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [')']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['(']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': 'All'},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['R']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['I']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['<']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['5']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['0']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': ['0']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [')']},
 {'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': 'All',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': 'All',
  'Area': [']']}]

In [67]:
df2['ADDITIONAL DESCRIPTION'] = df2['ADDITIONAL DESCRIPTION'].apply(
    lambda x: {k: convert_array(v) if k == 'REMAINING_DATA' else v for k, v in x.items()}
)

In [ ]:
df2.to_excel('new4.xlsx')

In [391]:
new_df=pd.read_excel('new3.xlsx')

In [87]:
def convert_array(data):
    if isinstance(data, float):
        return []

    if isinstance(data, str):
        data=data.replace('C_name','C_Name')
        
        data = data.replace(']  [', "][")
        data = data.replace('] [', "][")

        if "\n[" in data:
            array_strings = data.split("\n[")
        else:
            array_strings = data.split("][")

        # Adjust the first and last strings in the array to remove the leading "[" and trailing "]"
        array_strings[0] = array_strings[0][1:]
        array_strings[-1] = array_strings[-1][:-1]

        # Convert the array strings into actual arrays
        arrays = []
        for array_string in array_strings:
            array_string = array_string.replace(')  (', ")(")
            array_string = array_string.replace(') (', ")(")

            # Handle the case where "((NOT)...value...)" appears in the string
            if "((NOT)" in array_string:
                start_index = array_string.index("((NOT)") + 2
                end_index = array_string.index(")", start_index) + 1
                not_value = array_string[start_index:end_index]
                array_string = array_string.replace(not_value, not_value.replace("(", "").replace(")", ""))
            

            array = array_string.split(")(")
            array = [item.strip("()") for item in array]
            arrays.append(array)
            

        return arrays
    else:
        return data

In [127]:
import re

def transform_tuple_to_dict(tuple_data, default_params):
    result_dict = default_params.copy()
    c_type_found=False
    S_type_found=False
    for item in tuple_data:
        if isinstance(item, float):
            return []
        tri_match = re.search(r'TRI\s*([><]=?)\s*(\d+)', item)
        # c_name_match = re.search(r'C_Name:(.*)', item)
        c_name_match = re.search(r'C_Name\s*:(.*)', item)
        area_match = re.findall(r'Area:([^()]+)', item)
        profession_match = re.findall(r'Profession:(\w+)', item)

        if item.startswith('Individual'):
            if 'Company' and 'Co-operative' in result_dict['C_Type']:
                result_dict['C_Type'] = ['Def_C_Type']
            else:
                if c_type_found and 'Individual' not in result_dict["C_Type"]:
                    result_dict['C_Type'].append('Individual')
                else:
                    result_dict['C_Type'] = ['Individual']
                    c_type_found = True
        elif item.startswith("Salaried"):
            if S_type_found and 'Salaried' not in result_dict["S_Type"]:
                result_dict['S_Type']=['Def_S_Type']
                if 'Company' and 'Co-operative' in result_dict['C_Type']:
                    result_dict['C_Type'] = ['Def_C_Type']
                else:
                    if c_type_found and 'Individual' not in result_dict["C_Type"]:
                        result_dict['C_Type'].append('Individual')
                    else:
                        result_dict['C_Type'] = ['Individual']
                        c_type_found = True
            else:
                result_dict['S_Type'] = ['Salaried']
                S_type_found = True
                if 'Company' and 'Co-operative' in result_dict['C_Type']:
                    result_dict['C_Type'] = ['Def_C_Type']
                else:
                    if c_type_found and 'Individual' not in result_dict["C_Type"]:
                        result_dict['C_Type'].append('Individual')
                    else:
                        result_dict['C_Type'] = ['Individual']
                        c_type_found = True
        elif item.startswith("NonSalaried"):
            if S_type_found and 'NonSalaried' not in result_dict["S_Type"]:
                result_dict['S_Type']=['Def_S_Type']
            else:
                result_dict['S_Type'] = ['NonSalaried']
                S_type_found = True
        elif item.startswith("Company"):
            if 'Individual' and 'Co-operative' in result_dict['C_Type']:
                result_dict['C_Type'] = ['Def_C_Type']
            else:
                if c_type_found and 'Company' not in result_dict["C_Type"]:
                    result_dict['C_Type'].append('Company')
                else:
                    result_dict['C_Type'] = ['Company']
                    c_type_found = True
        elif item.startswith('Co-operative'):
            if 'Company' and 'Individual' in result_dict['C_Type']:
                result_dict['C_Type'] = ['Def_C_Type']
            else:
                if c_type_found and 'Co-operative' not in result_dict["C_Type"]:
                    result_dict['C_Type'].append('Co-operative')
                else:
                    result_dict['C_Type'] = ['Co-operative']
                    c_type_found = True
        elif item.startswith('Def_C_type'):
            result_dict['C_Type']=['Def_C_Type']
        elif tri_match:
            operator = tri_match.group(1)
            value = tri_match.group(2)
            result_dict['TRI'] = f'{operator}{value}'
        elif item.startswith('NOT'):
            result_dict['NOT']=item
        elif c_name_match:
            result_dict['C_Name'] = c_name_match.group(1)
        
        elif "PENSION" in item.upper():
            result_dict['Pension'] = True

        elif "Exemption" in item:
            result_dict['Exemption'] = True
        elif "GOVT." in item.upper():
            result_dict['GOVT.'] = True
        elif item.startswith('Profession:'):
            result_dict.setdefault('Profession', []).extend(profession_match)
        # result_dict['C_Type']=list(set(result_dict['C_Type']))
        # result_dict['S_Type']=list(set(result_dict['S_Type']))
        
    unassigned_items = [item for item in tuple_data if not any(item in str(value) for value in result_dict.values()) and not any(item.strip().startswith(prefix) for prefix in ['C_Name', 'S_Name', 'TRI', 'Profession','Exemption','Pension','GOVT.'])]
    if unassigned_items:
        result_dict['Area'] = unassigned_items
    return result_dict

default_params = {
    'C_Type': 'Def_C_Type',
    'S_Type': 'Def_S_Type',
    'C_Name': 'All',
    'Sur_Name': 'All',
    'Pension': False,
    'Trust': False,
    'Exemption': False,
    'TRI': 'All',
    'Area': 'All',
    'GOVT.':False,
    'NOT':None
}

In [25]:
new_df1=df_new.copy()

In [ ]:
import ast

# Define a function to convert the string to a dictionary
def convert_to_dict(data_string):
    return ast.literal_eval(data_string)

# Apply the conversion function to the 'ADDITIONAL DESCRIPTION' column
# df1['ADDITIONAL DESCRIPTION'] = df1['ADDITIONAL DESCRIPTION'].apply(convert_to_dict)
# data=convert_to_dict(df1['ADDITIONAL DESCRIPTION'][1])
import traceback

for i, row in new_df1.iterrows():
    try:
        new_df1.at[i, 'ADDITIONAL DESCRIPTION'] = convert_to_dict(row['ADDITIONAL DESCRIPTION'])
    except Exception as e:
        print(f"Error occurred at row {i+1}:")
        traceback.print_exc()

In [527]:
a=new_df1['ADDITIONAL DESCRIPTION'][181]['REMAINING_DATA']
a

'[(Company)(C_Name:A to M,P,S,Z)(C_TYPE:MINES & MINERALS)(PIN 700001)((NOT)(C_Name:SC, SD,SE) )(700093 ,700094)(TRI>30)]'

In [528]:
convert_array(new_df1['ADDITIONAL DESCRIPTION'][181])['REMAINING_DATA']

'[(Company)(C_Name:A to M,P,S,Z)(C_TYPE:MINES & MINERALS)(PIN 700001)((NOT)(C_Name:SC, SD,SE) )(700093 ,700094)(TRI>30)]'

In [529]:
new_df1['ADDITIONAL DESCRIPTION'] = new_df1['ADDITIONAL DESCRIPTION'].apply(
    lambda x: {k: convert_array(v) if k == 'REMAINING_DATA' else v for k, v in x.items()}
)

In [530]:
a=new_df1['ADDITIONAL DESCRIPTION'][181]['REMAINING_DATA']
a

[['Company',
  'C_Name:A to M,P,S,Z',
  'C_TYPE:MINES & MINERALS',
  'PIN 700001',
  'NOT(C_Name:SC, SD,SE) ',
  '700093 ,700094',
  'TRI>30']]

In [531]:
a=new_df1['ADDITIONAL DESCRIPTION'][289]['REMAINING_DATA']
a

[['C_Name:“N” or “R” or “S” or “Z”', 'TRI < 20 ', 'NOT']]

In [532]:
new_df1['ADDITIONAL DESCRIPTION'] = new_df1['ADDITIONAL DESCRIPTION'].apply(
    lambda x: {k: [transform_tuple_to_dict(arr, default_params) for arr in v] if k == 'REMAINING_DATA' else v for k, v in x.items()}
)

In [533]:
a=new_df1['ADDITIONAL DESCRIPTION'][289]['REMAINING_DATA']
a

[{'C_Type': 'Def_C_Type',
  'S_Type': 'Def_S_Type',
  'C_Name': '“N” or “R” or “S” or “Z”',
  'Sur_Name': 'All',
  'Pension': False,
  'Trust': False,
  'Exemption': False,
  'TRI': '<20',
  'Area': 'All',
  'GOVT.': False,
  'NOT': 'NOT'}]

In [534]:
new_df1['C_NAME'] = new_df1['ADDITIONAL DESCRIPTION'].apply(lambda row: [data['C_Name'] for data in row['REMAINING_DATA']])

In [536]:
new_df1.to_excel("TRIAL7.xlsx")

In [427]:
df3.to_excel('new5.xlsx')

In [382]:
def check_individual_company(row):
    c_types = [data.get('C_Type') for data in row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']]
    if 'Individual' in c_types and 'Company' in c_types:
        print("Both Individual and Company found in C_Type:", row)

f=new_df1.apply(check_individual_company, axis=1)

pandas.core.series.Series

In [16]:
import ast

# Define a function to convert the string to a dictionary
def convert_to_dict(data_string):
    return ast.literal_eval(data_string)

# Apply the conversion function to the 'ADDITIONAL DESCRIPTION' column
# df1['ADDITIONAL DESCRIPTION'] = df1['ADDITIONAL DESCRIPTION'].apply(convert_to_dict)
# data=convert_to_dict(df1['ADDITIONAL DESCRIPTION'][1])
import traceback

for i, row in df_new.iterrows():
    try:
        df_new.at[i, 'ADDITIONAL DESCRIPTION'] = convert_to_dict(row['ADDITIONAL DESCRIPTION'])
    except Exception as e:
        print(f"Error occurred at row {i+1}:")
        traceback.print_exc()

AttributeError: 'Series' object has no attribute 'iterrows'

In [47]:
matching_rows = filtered_df[filtered_df['ADDITIONAL DESCRIPTION'].apply(lambda x: any(d['C_Type'] == input['C_Type'] for d in x))]

In [17]:
c_names = set()
for row in df1:
    for dictionary in row:
        c_names.add(dictionary.get('C_Name', ''))

print(c_names)

{'A - N', ' G to K or V', 'A-Z', ' A to Z', ' A to Z)]', ' A to G', 'O to Z', ' Q, S or T'}

In [27]:
df1['C_Name'] = df1['ADDITIONAL DESCRIPTION'].apply(lambda x: [d.get('C_Name', '') for d in x])

In [22]:
df1['C_Name'] = df1['C_Name'].apply(lambda x: ', '.join(x))

In [92]:
new1=pd.read_excel('1new.xlsx')

In [101]:
new1

,Unnamed: 0,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,ADDITIONAL DESCRIPTION,CITY,Token
0,1,2,AGR,KNP,W,75,96,"WARD 1(1)(2), AGRA/","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(WARD ...",AGRA,NaN
1,2,3,AGR,KNP,W,80,97,"WARD 2(1)(2), AGRA/","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(WARD ...",AGRA,NaN
2,4,5,AGR,KNP,W,75,92,"WARD 4(3)(1), ETAH/","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(WARD ...",ETAH,NaN
3,5,6,AGR,KNP,W,85,93,"WARD 4(2)(3), KANNUAJ/","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(WARD ...",KANNUAJ,NaN
4,6,7,AGR,KNP,W,80,91,"WARD 2(2)(1), FIROZABAD/","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(WARD ...",FIROZABAD,NaN
...,...,...,...,...,...,...,...,...,...,...,...
925,1704,1705,VPN,DLC,WX,250,4,"EXEMPTION WARD ,TIRUPATI","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(EXEMP...",TIRUPATI,NaN
926,1705,1706,VPN,DLC,WX,250,3,"EXEMPTION WD, RAJAHMUNDRY","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(EXEMP...",RAJAHMUNDRY,NaN
927,1706,1707,VPN,DLC,WX,250,2,"EXEMPTION WARD, GUNTUR","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(EXEMP...",GUNTUR,NaN
928,1707,1708,VPN,DLC,WX,250,1,"EXEMPTIONWD,VISAKHAPATNAM","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(EXEMP...",VISAKHAPATNAM,NaN
929,1708,1709,VPN,DLC,CA,250,1,"EXEMPTION CIR, VIJAYAWADA","{'DEF_AREA': 'NONE', 'REMAINING_DATA': '(EXEMP...",VIJAYAWADA,NaN

In [100]:
new1['ADDITIONAL DESCRIPTION']=new1['ADDITIONAL DESCRIPTION'].apply(format_description)

In [102]:
new1.to_excel('2new.xlsx')

In [103]:
new2=pd.read_excel('2new.xlsx')

In [104]:
new2_df=new2.copy()

In [31]:
type(df_new['ADDITIONAL DESCRIPTION'][0])

dict

In [325]:
import ast

# Define a function to convert the string to a dictionary
def convert_to_dict(data_string):
    return ast.literal_eval(data_string)

# Apply the conversion function to the 'ADDITIONAL DESCRIPTION' column
# df1['ADDITIONAL DESCRIPTION'] = df1['ADDITIONAL DESCRIPTION'].apply(convert_to_dict)
# data=convert_to_dict(df1['ADDITIONAL DESCRIPTION'][1])
import traceback

for i, row in tan1.iterrows():
    try:
        tan1.at[i, 'ADDITIONAL DESCRIPTION'] = convert_to_dict(row['ADDITIONAL DESCRIPTION'])
    except Exception as e:
        print(f"Error occurred at row {i+1}:")
        traceback.print_exc()

In [92]:
df_new1=df_new.copy()

In [210]:
def convert_array(data):
    if isinstance(data, float):
        return []

    if isinstance(data, str):
        data = data.replace(']  [', "] [")
        data = data.replace('] [', "][")

        if "\n[" in data:
            array_strings = data.split("\n[")
        else:
            array_strings = data.split("][")

        # Adjust the first and last strings in the array to remove the leading "[" and trailing "]"
        array_strings[0] = array_strings[0][1:]
        array_strings[-1] = array_strings[-1][:-1]

        # Convert the array strings into actual arrays
        arrays = []
        for array_string in array_strings:
            array_string = array_string.replace(')  (', ")(")
            array_string = array_string.replace(') (', ")(")

            array = array_string.split(")(")
            array = [item.strip("()") for item in array]
            arrays.append(array)
        return arrays
    else:
        return data

In [268]:
df4.loc[:,'ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(
    lambda x: {k: convert_array(v) if k == 'REMAINING_DATA' else v for k, v in x.items()} if isinstance(x, dict) else x
)

In [269]:
df4['ADDITIONAL DESCRIPTION'][8]

{'DEF_AREA': 'NONE', 'REMAINING_DATA': [[' ACIT (OSD) TDS, AHMEDABAD ']]}

In [267]:
df4['ADDITIONAL DESCRIPTION']=df4['ADDITIONAL DESCRIPTION'].apply(format_description)

C:\Users\golup\AppData\Local\Temp\ipykernel_9244\3372756793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ADDITIONAL DESCRIPTION']=df4['ADDITIONAL DESCRIPTION'].apply(format_description)

In [256]:
df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(convert_array)

C:\Users\golup\AppData\Local\Temp\ipykernel_9244\3006334589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(convert_array)

In [64]:
df_new2=df_new1.copy()

In [126]:
df_new1['ADDITIONAL DESCRIPTION'][2]

{'DEF_AREA': 'NONE',
 'REMAINING_DATA': [['C_Name :A TO Z ', 'JHANSI & LALITPUR DISTRICTS.']]}

In [69]:
df_new1.to_excel("df_new1.xlsx")

In [215]:
df_new2=pd.read_excel('df_new1.xlsx')
for i, row in df_new2.iterrows():
    try:
        df_new2.at[i, 'ADDITIONAL DESCRIPTION'] = convert_to_dict(row['ADDITIONAL DESCRIPTION'])
    except Exception as e:
        print(f"Error occurred at row {i+1}:")
        traceback.print_exc()

In [254]:
df4['ADDITIONAL DESCRIPTION'][8]

'[( ACIT (OSD) TDS, AHMEDABAD )]'

In [270]:
df5=df4.copy()

In [271]:
# df_new2['ADDITIONAL DESCRIPTION'] = df_new2['ADDITIONAL DESCRIPTION'].apply(
#     lambda x: {k: [transform_tuple_to_dict(arr, default_params) for arr in v] if k == 'REMAINING_DATA' else v for k, v in x.items()}
# )
# # df_new2['ADDITIONAL DESCRIPTION'] = df_new2['ADDITIONAL DESCRIPTION'].apply(
# #     lambda x: {'DEF_AREA': x['DEF_AREA'],
# #                'REMAINING_DATA': [transform_tuple_to_dict(arr, default_params) for arr in x['REMAINING_DATA']]}
# #     if isinstance(x['REMAINING_DATA'], list) else x
# # )
# df_new2['ADDITIONAL DESCRIPTION'] = df_new2['ADDITIONAL DESCRIPTION'].apply(
#     lambda x: [transform_tuple_to_dict(arr, default_params) if isinstance(arr, list) else arr for arr in x]
# )

df5['ADDITIONAL DESCRIPTION'] = df5['ADDITIONAL DESCRIPTION'].apply(
    lambda x: {'DEF_AREA': 'NONE', 'REMAINING_DATA': [transform_tuple_to_dict(arr, default_params) for arr in x['REMAINING_DATA']]} if isinstance(x, dict) and 'REMAINING_DATA' in x else x
)

In [261]:
df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(lambda x: {'DEF_AREA': 'NONE','REMAINING_DATA': [transform_tuple_to_dict(arr, default_params) for arr in x['REMAINif isinstance(x, list) else x)

C:\Users\golup\AppData\Local\Temp\ipykernel_9244\921498628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(

In [272]:
df5['ADDITIONAL DESCRIPTION'][8]

{'DEF_AREA': 'NONE',
 'REMAINING_DATA': [{'C_Type': 'Def_C_Type',
   'S_Type': 'Def_S_Type',
   'C_Name': 'All',
   'Sur_Name': 'All',
   'Pension': False,
   'Trust': False,
   'Exemption': False,
   'TRI': 'All',
   'Area': [' ACIT (OSD) TDS, AHMEDABAD '],
   'GOVT.': False,
   'NOT': None}]}

In [273]:
df5.to_excel("df5.xlsx")

In [142]:
df_new2.to_excel("df_new2.xlsx")

In [147]:
df11=pd.read_excel("df_new2.xlsx")

In [189]:
df11['ADDITIONAL DESCRIPTION']

0      {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
1      {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
2      {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
3      {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
4      {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
                             ...
197    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
198    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
199    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
200    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
201    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...
Name: ADDITIONAL DESCRIPTION, Length: 202, dtype: object

In [144]:
df12=pd.read_excel('2020-019-Annexure-TAN_AO_code_master_v_4.9(1).xlsx')

In [167]:
df12

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,ADDITIONAL DESCRIPTION,CITY
0,1,AGR,KNP,WT,93,1,"WARD (TDS), ALIGARH","TDS OF ALIGARH, FARRUKHABAD, MAINPURI, KANNAUJ...",ALIGARH
1,2,AGR,KNP,WT,94,1,"WARD TDS (1), AGRA","TDS OF ALPHABETS A TO M OF AGRA, MATHURA, FIRO...",AGRA
2,3,AGR,KNP,WT,94,2,"WARD TDS, JHANSI",TDS OF A TO Z ALPHABETS OF JHANSI & LALITPUR D...,JHANSI
3,4,AGR,KNP,WT,94,4,"WARD TDS (2), AGRA","TDS OF ALPHABETS N TO Z OF AGRA, MATHURA, FIRO...",AGRA
4,5,AHM,GUJ,CT,147,1,"CIRCLE TDS, AHMEDABAD",ASSIGNED CASES OF AREAS WITHIN THE TERRITORIAL...,AHMEDABAD
...,...,...,...,...,...,...,...,...,...
399,400,SHL,SHL,WT,10,10,"ITO, TDS, NAGAON",NaN,NAGAON
400,401,SHL,SHL,WT,13,6,"ITO, TDS, AIZAWL",NaN,AIZAWL
401,402,AGR,KNP,CT,94,1,ACIT TDS AGRA,NaN,AGRA
402,403,CAL,WBG,WT,161,6,"TDS WARD 1(6), KOLKATA",NaN,KOLKATA
403,404,CAL,WBG,CT,163,2,"TDS CIRCLE 3(2), KOLKATA",NaN,KOLKATA

In [264]:
df4 = df12[df12['ADDITIONAL DESCRIPTION'].isnull() ]

In [265]:
df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].fillna(df4['DESCRIPTION'])

C:\Users\golup\AppData\Local\Temp\ipykernel_9244\1227715458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].fillna(df4['DESCRIPTION'])

In [182]:
df4.to_excel('df4.xlsx')

In [266]:
df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(lambda x: '[( ' + x + ' )]' if x else x)

C:\Users\golup\AppData\Local\Temp\ipykernel_9244\2482592264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['ADDITIONAL DESCRIPTION'] = df4['ADDITIONAL DESCRIPTION'].apply(lambda x: '[( ' + x + ' )]' if x else x)

In [288]:
df12

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,ADDITIONAL DESCRIPTION,CITY
0,1,AGR,KNP,WT,93,1,"WARD (TDS), ALIGARH","TDS OF ALIGARH, FARRUKHABAD, MAINPURI, KANNAUJ...",ALIGARH
1,2,AGR,KNP,WT,94,1,"WARD TDS (1), AGRA","TDS OF ALPHABETS A TO M OF AGRA, MATHURA, FIRO...",AGRA
2,3,AGR,KNP,WT,94,2,"WARD TDS, JHANSI",TDS OF A TO Z ALPHABETS OF JHANSI & LALITPUR D...,JHANSI
3,4,AGR,KNP,WT,94,4,"WARD TDS (2), AGRA","TDS OF ALPHABETS N TO Z OF AGRA, MATHURA, FIRO...",AGRA
4,5,AHM,GUJ,CT,147,1,"CIRCLE TDS, AHMEDABAD",ASSIGNED CASES OF AREAS WITHIN THE TERRITORIAL...,AHMEDABAD
...,...,...,...,...,...,...,...,...,...
399,400,SHL,SHL,WT,10,10,"ITO, TDS, NAGAON",NaN,NAGAON
400,401,SHL,SHL,WT,13,6,"ITO, TDS, AIZAWL",NaN,AIZAWL
401,402,AGR,KNP,CT,94,1,ACIT TDS AGRA,NaN,AGRA
402,403,CAL,WBG,WT,161,6,"TDS WARD 1(6), KOLKATA",NaN,KOLKATA
403,404,CAL,WBG,CT,163,2,"TDS CIRCLE 3(2), KOLKATA",NaN,KOLKATA

In [293]:
df6 = df12.merge(df11, on='DESCRIPTION')

In [294]:
df6.to_excel('df6.xlsx')

In [310]:
merge1=pd.read_excel('df5.xlsx')
merge2=pd.read_excel('df6.xlsx')

In [315]:
tan1=pd.read_excel('tan1.xlsx')

In [326]:
tan1['ADDITIONAL DESCRIPTION'][0]['REMAINING_DATA'][0]['C_Name']

'All'

In [317]:
tan1 = tan1.sort_values('SR. NO.')

In [318]:
tan1.to_excel('tan1.xlsx')

In [322]:
duplicate_rows = tan1[tan1.duplicated(['SR. NO.'],keep=False)]

In [323]:
duplicate_rows

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,ADDITIONAL DESCRIPTION,CITY
73,176,HYD,APR,WT,115,2,"TDS WARD 1, GUNTUR","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",GUNTUR
304,176,HYD,APR,WT,115,2,"TDS WARD 1, GUNTUR","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",GUNTUR
74,177,HYD,APR,WT,115,3,"TDS WARD 1, TIRUPATI","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",TIRUPATI
306,177,HYD,APR,WT,115,3,"TDS WARD 1, TIRUPATI","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",TIRUPATI
75,178,HYD,APR,WT,115,4,"TDS WARD 1, KURNOOL","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",KURNOOL
308,178,HYD,APR,WT,115,4,"TDS WARD 1, KURNOOL","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",KURNOOL
326,224,MRI,CHE,WT,577,55,"WARD, TDS, TRICHY","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",TRICHY
325,224,MRI,CHE,WT,577,55,"WARD, TDS, TRICHY","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",TRICHY
328,225,MRI,CHE,WT,577,56,"WARD, TDS, TRICHY","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",TRICHY
327,225,MRI,CHE,WT,577,56,"WARD, TDS, TRICHY","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",TRICHY
150,320,PTN,PTN,WT,43,2,"ITO TDS WARD, BEGUSARAI","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",BEGUSARAI
379,320,PTN,PTN,WT,43,2,"ITO TDS WARD, BEGUSARAI","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",BEGUSARAI

In [763]:
lf=pd.read_excel('Mumbai3.xlsx')

In [764]:

lf['C_NAME1'] = lf['C_NAME1'].apply(lambda x: '[' + x + ']')

In [765]:
lf['C_NAME1'] = lf['C_NAME1'].apply(ast.literal_eval)

In [766]:
lf

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
0,1,AGR,KNP,W,80,1,"WARD 2(1)(1), AGRA",AGRA,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' A-F)]', ' A to F)]', ' A to F)]', ' A to F)...","[[a, b, c, d, e, f], [a, b, c, d, e, f], [a, b..."
1,2,AGR,KNP,W,75,96,"WARD 1(1)(2), AGRA/",AGRA,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
2,3,AGR,KNP,W,80,97,"WARD 2(1)(2), AGRA/",AGRA,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
3,4,AGR,KNP,C,75,1,"CIRCLE 1(1)(1), AGRA",AGRA,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' A to Z', ' A to Z', 'All', ' A to Z', ' A t...","[[a, b, c, d, e, f, g, h, i, j, k, l, m, n, o,..."
4,5,AGR,KNP,W,75,92,"WARD 4(3)(1), ETAH/",ETAH,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
...,...,...,...,...,...,...,...,...,...,...,...
1704,1705,VPN,DLC,WX,250,4,"EXEMPTION WARD ,TIRUPATI",TIRUPATI,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
1705,1706,VPN,DLC,WX,250,3,"EXEMPTION WD, RAJAHMUNDRY",RAJAHMUNDRY,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
1706,1707,VPN,DLC,WX,250,2,"EXEMPTION WARD, GUNTUR",GUNTUR,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
1707,1708,VPN,DLC,WX,250,1,"EXEMPTIONWD,VISAKHAPATNAM",VISAKHAPATNAM,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
1708,1709,VPN,DLC,CA,250,1,"EXEMPTION CIR, VIJAYAWADA",VIJAYAWADA,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]

In [8]:
import ast

# Define a function to convert the string to a dictionary
def convert_to_dict(data_string):
    return ast.literal_eval(data_string)

# Apply the conversion function to the 'ADDITIONAL DESCRIPTION' column
# df1['ADDITIONAL DESCRIPTION'] = df1['ADDITIONAL DESCRIPTION'].apply(convert_to_dict)
# data=convert_to_dict(df1['ADDITIONAL DESCRIPTION'][1])
import traceback

for i, row in df.iterrows():
    try:
        df.at[i, 'ADDITIONAL DESCRIPTION'] = convert_to_dict(row['ADDITIONAL DESCRIPTION'])
    except Exception as e:
        print(f"Error occurred at row {i+1}:")
        print(row)
        traceback.print_exc()

In [768]:
filtered_df=lf[lf['CITY']== input['City']]

In [769]:
filtered_df

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
175,176,BLR,KAR,C,113,1,"CIRCLE 1(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""AA to AZ"") ']","[[aa, ab, ac, ad, ae, af, ag, ah, ai, aj, ak, ..."
176,177,BLR,KAR,W,113,1,"WARD 1(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""AA to AL""']","[[aa, ab, ac, ad, ae, af, ag, ah, ai, aj, ak, ..."
177,178,BLR,KAR,W,224,93,"WARD 6(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
179,180,BLR,KAR,W,113,92,"WARD 1(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
183,184,BLR,KAR,W,313,1,"WARD 3(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
184,185,BLR,KAR,C,125,1,CIRCLE 3(1)(1) BANGALORE,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""F, I""']","[[f, i]]"
185,186,BLR,KAR,W,313,95,"WARD 5(3)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
187,188,BLR,KAR,W,125,92,"WARD 5(1)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
189,190,BLR,KAR,W,313,93,"WARD 5(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
197,198,BLR,KAR,C,224,1,"DC/ACIT CIRCLE 6(1)(1), B",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"
198,199,BLR,KAR,W,224,1,"WARD 6(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"
201,202,BLR,KAR,W,224,92,"WARD 6(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
204,205,BLR,KAR,C,313,1,"CIRCLE 3(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
205,206,BLR,KAR,W,125,1,"WARD 3(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""F""']",[[f]]
206,207,BLR,KAR,W,125,3,"WARD 3(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""H""']",[[h]]
207,208,BLR,KAR,C,313,91,"CIRCLE 5(3)(2), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
208,209,BLR,KAR,W,125,91,"WARD 3(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
209,210,BLR,KAR,W,125,93,"WARD 5(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
210,211,BLR,KAR,W,313,96,"WARD 5(3)(4), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
211,212,BLR,KAR,W,313,92,ITO WARD 5(3)(5) BANGALOR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
212,213,BLR,KAR,W,313,94,"WARD 5(3)(2), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
222,223,BLR,DLC,C,520,1,"DCIT ASMNT CIR 2(1), BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
225,226,BLR,DLC,WX,503,3,"EXEMPTIONS WARD 1, GUL",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
226,227,BLR,DLC,CA,502,1,EXEMPTIONS CIRCLE-1 BANGA,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
227,228,BLR,DLC,WX,502,1,"ITO (EXEMPTIONS) WARD 1,B",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
228,229,BLR,DLC,WX,502,2,"EXEMPTIONS WARD 2,BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","['""A to L"" ']","[[a, b, c, d, e, f, g, h, i, j, k, l]]"
230,231,BLR,DLC,WX,502,4,"EXEMPTIONS WARD 3,BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""S""']",[[s]]
232,233,BLR,DLC,WX,502,3,"EXEMPTIONS WARD 3,BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","['""S""']",[[s]]
233,234,BLR,KAR,W,212,1,"WARD 4(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
234,235,BLR,KAR,W,212,3,"WARD 4(3)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""A to M""']","[[a, b, c, d, e, f, g, h, i, j, k, l, m]]"
235,236,BLR,KAR,C,212,1,"CIRCLE 4(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
236,237,BLR,KAR,W,212,2,"WARD 4(3)(2), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
237,238,BLR,KAR,W,222,1,"WARD 2(2)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
238,239,BLR,KAR,W,124,3,"WARD 2(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""D"" ']",[[d]]
239,240,BLR,KAR,C,126,1,"CIRCLE 4(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' J, L']","[[j, l]]"
240,241,BLR,KAR,W,126,3,"WARD 4(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""MA to ML""']","[[ma, mb, mc, md, me, mf, mg, mh, mi, mj, mk, ..."
241,242,BLR,KAR,C,222,1,"CIRCLE 2(2)(1),BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
242,243,BLR,KAR,W,222,3,"WARD 2(2)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
243,244,BLR,KAR,W,131,3,"WARD 7(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""V""']",[[v]]
244,245,BLR,KAR,W,131,1,"WARD 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TO""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."
245,246,BLR,KAR,C,131,1,"CIRCLE 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TZ & U""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."
246,247,BLR,KAR,W,222,2,"WARD 2(2)(2), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
247,248,BLR,KAR,W,222,5,"WARD 2(2)(5), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
248,249,BLR,KAR,W,126,1,"WARD 4(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",[' J or L'],"[[j, l]]"
249,250,BLR,KAR,W,124,1,ITO WARD 2(1)(1) BLR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""CA to CL""']","[[ca, cb, cc, cd, ce, cf, cg, ch, ci, cj, ck, ..."
251,252,BLR,KAR,W,131,91,"WARD 7(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
252,253,BLR,KAR,W,131,93,"WARD 7(2)(5), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
253,254,BLR,KAR,W,126,92,"WARD 4(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
254,255,BLR,KAR,C,124,1,"CIRCLE 2(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""CA to CZ""']","[[ca, cb, cc, cd, ce, cf, cg, ch, ci, cj, ck, ..."
255,256,BLR,KAR,W,222,7,"WARD 2(2)(7), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
256,257,BLR,KAR,W,126,91,"WARD 4(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
257,258,BLR,KAR,W,131,92,"WARD 7(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
260,261,BLR,KAR,C,991,99,GOVT CIRCLE,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]

In [770]:
dropped_count = 0

def filter_data1(input_dict, key, row, default_param=None):
    global dropped_count  # Use the global dropped_count variable
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = [
        data for data in remaining_data
        if (data.get(key) == input_dict.get(key) or data == input_dict)
        or (default_param is not None and data.get(key) == default_param.get(key))
    ]

    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = filtered_data
        # print(filtered_data)
        return row
    else:
        dropped_count += 1  # Increment the dropped_count variable
        return None

filtered_df=filtered_df.apply(lambda row: filter_data1(input, 'C_Type', row, default_params), axis=1).dropna()

In [771]:
fd=filtered_df.copy()

In [772]:
fdd=fd.copy()

In [773]:
def filter_data2(input_dict, key, row, default_param=None):
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = []
    
    for data in remaining_data:
        tri_condition = data.get('TRI')
        
        if '<=' in tri_condition or '>=' in tri_condition:
            operator = tri_condition[:2]
            value_str = int(tri_condition[2:])
            
            if operator == '<=' and input_dict[key] <= value_str:
                filtered_data.append(data)
            elif operator == '>=' and input_dict[key] >= value_str:
                filtered_data.append(data)
        
        elif '<' in tri_condition or '>' in tri_condition:
            operator = tri_condition[:1]
            value_str = int(tri_condition[1:])
            
            if operator == '<' and input_dict[key] < value_str:
                filtered_data.append(data)
            elif operator == '>' and input_dict[key] > value_str:
                filtered_data.append(data)
        
        elif tri_condition == 'All':
            filtered_data.append(data)
    
    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = filtered_data
        return pd.DataFrame(row).transpose()  # Convert row to DataFrame and return
    else:
        return None


fdd = fd.apply(lambda row: filter_data2(input, 'TRI', row, default_params), axis=1).dropna()
fdd = pd.concat(fdd.tolist())

In [774]:
fdd

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
176,177.0,BLR,KAR,W,113.0,1.0,"WARD 1(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""AA to AL""']","[[aa, ab, ac, ad, ae, af, ag, ah, ai, aj, ak, ..."
177,178.0,BLR,KAR,W,224.0,93.0,"WARD 6(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
179,180.0,BLR,KAR,W,113.0,92.0,"WARD 1(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
183,184.0,BLR,KAR,W,313.0,1.0,"WARD 3(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
185,186.0,BLR,KAR,W,313.0,95.0,"WARD 5(3)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
187,188.0,BLR,KAR,W,125.0,92.0,"WARD 5(1)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
189,190.0,BLR,KAR,W,313.0,93.0,"WARD 5(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
198,199.0,BLR,KAR,W,224.0,1.0,"WARD 6(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"
201,202.0,BLR,KAR,W,224.0,92.0,"WARD 6(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
205,206.0,BLR,KAR,W,125.0,1.0,"WARD 3(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""F""']",[[f]]
206,207.0,BLR,KAR,W,125.0,3.0,"WARD 3(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""H""']",[[h]]
207,208.0,BLR,KAR,C,313.0,91.0,"CIRCLE 5(3)(2), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
208,209.0,BLR,KAR,W,125.0,91.0,"WARD 3(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
209,210.0,BLR,KAR,W,125.0,93.0,"WARD 5(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
210,211.0,BLR,KAR,W,313.0,96.0,"WARD 5(3)(4), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
211,212.0,BLR,KAR,W,313.0,92.0,ITO WARD 5(3)(5) BANGALOR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
212,213.0,BLR,KAR,W,313.0,94.0,"WARD 5(3)(2), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
222,223.0,BLR,DLC,C,520.0,1.0,"DCIT ASMNT CIR 2(1), BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
227,228.0,BLR,DLC,WX,502.0,1.0,"ITO (EXEMPTIONS) WARD 1,B",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
238,239.0,BLR,KAR,W,124.0,3.0,"WARD 2(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""D"" ']",[[d]]
240,241.0,BLR,KAR,W,126.0,3.0,"WARD 4(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""MA to ML""']","[[ma, mb, mc, md, me, mf, mg, mh, mi, mj, mk, ..."
243,244.0,BLR,KAR,W,131.0,3.0,"WARD 7(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""V""']",[[v]]
244,245.0,BLR,KAR,W,131.0,1.0,"WARD 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TO""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."
248,249.0,BLR,KAR,W,126.0,1.0,"WARD 4(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",[' J or L'],"[[j, l]]"
249,250.0,BLR,KAR,W,124.0,1.0,ITO WARD 2(1)(1) BLR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""CA to CL""']","[[ca, cb, cc, cd, ce, cf, cg, ch, ci, cj, ck, ..."
251,252.0,BLR,KAR,W,131.0,91.0,"WARD 7(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
252,253.0,BLR,KAR,W,131.0,93.0,"WARD 7(2)(5), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
253,254.0,BLR,KAR,W,126.0,92.0,"WARD 4(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
255,256.0,BLR,KAR,W,222.0,7.0,"WARD 2(2)(7), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
256,257.0,BLR,KAR,W,126.0,91.0,"WARD 4(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
257,258.0,BLR,KAR,W,131.0,92.0,"WARD 7(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
260,261.0,BLR,KAR,C,991.0,99.0,GOVT CIRCLE,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]

In [775]:
fs=fdd.apply(lambda row: filter_data1(input, 'Exemption', row, default_params),axis=1).dropna()
# fs = pd.concat(fs.tolist())

In [776]:
fs=fs.apply(lambda row: filter_data1(input, 'Pension', row, default_params), axis=1).dropna()
# fs = pd.concat(fs.tolist())

In [777]:
fs=fs.apply(lambda row: filter_data1(input, 'Govt.', row, default_params), axis=1).dropna()
# fs = pd.concat(fs.tolist())

In [778]:
fs

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
176,177.0,BLR,KAR,W,113.0,1.0,"WARD 1(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""AA to AL""']","[[aa, ab, ac, ad, ae, af, ag, ah, ai, aj, ak, ..."
177,178.0,BLR,KAR,W,224.0,93.0,"WARD 6(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
179,180.0,BLR,KAR,W,113.0,92.0,"WARD 1(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
185,186.0,BLR,KAR,W,313.0,95.0,"WARD 5(3)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
187,188.0,BLR,KAR,W,125.0,92.0,"WARD 5(1)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
189,190.0,BLR,KAR,W,313.0,93.0,"WARD 5(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
198,199.0,BLR,KAR,W,224.0,1.0,"WARD 6(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"
201,202.0,BLR,KAR,W,224.0,92.0,"WARD 6(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
205,206.0,BLR,KAR,W,125.0,1.0,"WARD 3(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""F""']",[[f]]
206,207.0,BLR,KAR,W,125.0,3.0,"WARD 3(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""H""']",[[h]]
207,208.0,BLR,KAR,C,313.0,91.0,"CIRCLE 5(3)(2), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
208,209.0,BLR,KAR,W,125.0,91.0,"WARD 3(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
209,210.0,BLR,KAR,W,125.0,93.0,"WARD 5(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
210,211.0,BLR,KAR,W,313.0,96.0,"WARD 5(3)(4), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
211,212.0,BLR,KAR,W,313.0,92.0,ITO WARD 5(3)(5) BANGALOR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
212,213.0,BLR,KAR,W,313.0,94.0,"WARD 5(3)(2), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
222,223.0,BLR,DLC,C,520.0,1.0,"DCIT ASMNT CIR 2(1), BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
227,228.0,BLR,DLC,WX,502.0,1.0,"ITO (EXEMPTIONS) WARD 1,B",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
238,239.0,BLR,KAR,W,124.0,3.0,"WARD 2(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""D"" ']",[[d]]
240,241.0,BLR,KAR,W,126.0,3.0,"WARD 4(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""MA to ML""']","[[ma, mb, mc, md, me, mf, mg, mh, mi, mj, mk, ..."
243,244.0,BLR,KAR,W,131.0,3.0,"WARD 7(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""V""']",[[v]]
244,245.0,BLR,KAR,W,131.0,1.0,"WARD 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TO""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."
248,249.0,BLR,KAR,W,126.0,1.0,"WARD 4(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",[' J or L'],"[[j, l]]"
249,250.0,BLR,KAR,W,124.0,1.0,ITO WARD 2(1)(1) BLR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""CA to CL""']","[[ca, cb, cc, cd, ce, cf, cg, ch, ci, cj, ck, ..."
251,252.0,BLR,KAR,W,131.0,91.0,"WARD 7(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
252,253.0,BLR,KAR,W,131.0,93.0,"WARD 7(2)(5), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
253,254.0,BLR,KAR,W,126.0,92.0,"WARD 4(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
255,256.0,BLR,KAR,W,222.0,7.0,"WARD 2(2)(7), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
256,257.0,BLR,KAR,W,126.0,91.0,"WARD 4(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
257,258.0,BLR,KAR,W,131.0,92.0,"WARD 7(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
260,261.0,BLR,KAR,C,991.0,99.0,GOVT CIRCLE,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]

In [779]:
dropped_count = 0

def filter_data(input_dict, key, row, default_param=None):
    global dropped_count  # Use the global dropped_count variable
    c_namedata = row['C_NAME1']
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = []

    for data_list in c_namedata:
        for data in data_list:
            if input_dict.get(key).lower().startswith(data):
                filtered_data.append(data_list)

    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = remaining_data
        return pd.DataFrame(row).transpose()
    
    else:
            dropped_count += 1  # Increment the dropped_count variable
            return None

fss = fs.apply(lambda row: filter_data(input, 'Company_Name', row, default_params), axis=1).dropna()

if fss.empty:
    # default_row = {'C_NAME1': [], 'ADDITIONAL DESCRIPTION': {'REMAINING_DATA': default_params}}
    fss = fs.copy()
else:
    fss = pd.concat(fss.tolist())

In [780]:
fss

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
198,199.0,BLR,KAR,W,224.0,1.0,"WARD 6(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"

In [781]:
dropped_count = 0

def filter_data(input_dict, key, row, default_param=None):
    global dropped_count  # Use the global dropped_count variable
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = []
    
    for data in remaining_data:
        area_list = data.get(key)
        
        for area in area_list:
            if any(input_area in area for input_area in input_dict[key] for area in area_list):
                filtered_data.append(data)
                break

    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = filtered_data
        return pd.DataFrame(row).transpose()
    # elif default_param is not None:
    #     row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = default_param
    #     return pd.DataFrame(row).transpose()
    else:
        dropped_count += 1
        return None

fz = fss.apply(lambda row: filter_data(input, 'Area', row, default_params), axis=1).dropna()
if fz.empty:
    # default_row = {'C_NAME1': [], 'ADDITIONAL DESCRIPTION': {'REMAINING_DATA': default_params}}
    fz = fss.copy()
else:
    fz = pd.concat(fz.tolist())

In [782]:
fz

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
198,199.0,BLR,KAR,W,224.0,1.0,"WARD 6(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"

In [33]:
import pandas as pd
df=pd.read_excel('tan1.xlsx')

In [34]:
df['ADDITIONAL DESCRIPTION'][0]['REMAINING_DATA'][0]['C_Name']

TypeError: string indices must be integers, not 'str'

In [40]:
import pandas as pd
import ast

# Assuming you have a DataFrame named 'df' with the 'ADDITIONAL DESCRIPTION' column

# Create a new column 'C_Name' initialized with None values
df['C_Name'] = None

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    # Parse the string representation into a dictionary
    additional_desc_str = row['ADDITIONAL DESCRIPTION']
    additional_desc = ast.literal_eval(additional_desc_str)
    
    # Access the nested 'REMAINING_DATA' list and extract the 'C_Name' values
    remaining_data = additional_desc['REMAINING_DATA']
    c_names = [data['C_Name'] for data in remaining_data]
    
    # Assign the extracted 'C_Name' values to the corresponding row in the 'C_Name' column
    df.at[index, 'C_Name'] = c_names

# Print the updated DataFrame
print(df)

     SR. NO.  RCC AREA CODE AO TYPE  RANGE CODE  AO NO.
0          1  AGR       KNP      WT          93       1  \
1          2  AGR       KNP      WT          94       1
2          3  AGR       KNP      WT          94       2
3          4  AGR       KNP      WT          94       4
4          5  AHM       GUJ      CT         147       1
..       ...  ...       ...     ...         ...     ...
399      400  SHL       SHL      WT          10      10
400      401  SHL       SHL      WT          13       6
401      402  AGR       KNP      CT          94       1
402      403  CAL       WBG      WT         161       6
403      404  CAL       WBG      CT         163       2

                  DESCRIPTION
0         WARD (TDS), ALIGARH  \
1          WARD TDS (1), AGRA
2            WARD TDS, JHANSI
3          WARD TDS (2), AGRA
4       CIRCLE TDS, AHMEDABAD
..                        ...
399          ITO, TDS, NAGAON
400          ITO, TDS, AIZAWL
401             ACIT TDS AGRA
402    TDS WARD 1(6), KOLKATA
403  TDS CIRCLE 3(2), KOLKATA

                                ADDITIONAL DESCRIPTION       CITY     C_Name
0    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...    ALIGARH      [All]
1    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...       AGRA     [A -M]
2    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...     JHANSI  [A TO Z ]
3    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...       AGRA  [N TO Z ]
4    {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...  AHMEDABAD      [All]
..                                                 ...        ...        ...
399  {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...     NAGAON      [All]
400  {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...     AIZAWL      [All]
401  {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...       AGRA      [All]
402  {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...    KOLKATA      [All]
403  {'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...    KOLKATA      [All]

[404 rows x 10 columns]

In [41]:
df

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,ADDITIONAL DESCRIPTION,CITY,C_Name
0,1,AGR,KNP,WT,93,1,"WARD (TDS), ALIGARH","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",ALIGARH,[All]
1,2,AGR,KNP,WT,94,1,"WARD TDS (1), AGRA","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",AGRA,[A -M]
2,3,AGR,KNP,WT,94,2,"WARD TDS, JHANSI","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",JHANSI,[A TO Z ]
3,4,AGR,KNP,WT,94,4,"WARD TDS (2), AGRA","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",AGRA,[N TO Z ]
4,5,AHM,GUJ,CT,147,1,"CIRCLE TDS, AHMEDABAD","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",AHMEDABAD,[All]
...,...,...,...,...,...,...,...,...,...,...
399,400,SHL,SHL,WT,10,10,"ITO, TDS, NAGAON","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",NAGAON,[All]
400,401,SHL,SHL,WT,13,6,"ITO, TDS, AIZAWL","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",AIZAWL,[All]
401,402,AGR,KNP,CT,94,1,ACIT TDS AGRA,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",AGRA,[All]
402,403,CAL,WBG,WT,161,6,"TDS WARD 1(6), KOLKATA","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",KOLKATA,[All]
403,404,CAL,WBG,CT,163,2,"TDS CIRCLE 3(2), KOLKATA","{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",KOLKATA,[All]

In [42]:
df.to_excel("tan2.xlsx")

In [83]:
def print_characters(start_char, end_char):
    # Convert start and end characters to their ASCII values
    start_ord = ord(start_char)
    end_ord = ord(end_char)

    # Create an empty array to store the characters
    characters = []

    # Iterate over the ASCII values and convert them back to characters
    for char_ord in range(start_ord, end_ord + 1):
        char = chr(char_ord)
        characters.append(char)

    # Print the resulting array of characters
    print(characters)


# Test the function
start = input("Enter the start characters: ")
end = input("Enter the end characters: ")

# Ensure the start and end inputs have the same length
if len(start) == len(end):
    print_characters('S'+ start, end)
else:
    print("Error: Start and end inputs should have the same length.")

TypeError: ord() expected a character, but string of length 2 found

In [153]:
def print_characters(start_char, end_char):
    # Convert start and end characters to their ASCII values
    start_ord = ord(start_char)
    end_ord = ord(end_char)

    # Create an empty array to store the characters
    characters = []

    # Iterate over the ASCII values and convert them back to characters
    for char_ord in range(start_ord, end_ord + 1):
        char = chr(char_ord)
        characters.append(f"{char}")

    # Print the resulting array of characters
    print(characters)
    # return characters


# Test the function
start = input("Enter the start character: ")
end = input("Enter the end character: ")

print_characters(start, end)
# characters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:


a